.consignmentForm
  = simple_form_for @consignment, html: {class: "directUpload"},  data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } do |f|
    = f.input :first_name, wrapper_html: {class: "col-xs-12 col-sm-6 col-lg-6"}, label: "First Name", placeholder: "Jane"
    = f.input :last_name, wrapper_html: {class: "col-xs-12 col-sm-6 col-lg-6"}, label: "Last Name", placeholder: "Smith"
    = f.input :email, wrapper_html: {class: "col-xs-12 col-lg-6"}, placeholder: "janesmith@example.com"
    = f.input :phone, input_html: { class: 'phoneInput' }, wrapper_html: {class: "col-xs-12 col-sm-6 col-lg-6"}, placeholder: "555-555-5555"
    = f.input :date_available, :as => :date_picker, wrapper_html: {class: "col-xs-12 col-sm-6 col-md-6"}, label: "What date will item(s) be available?", placeholder: "#{Date.today.strftime('%m/%e/%Y')}"
    = f.input :need_pickup, wrapper_html: {class: "col-xs-12 col-md-6"}, label: "Do these items need to be picked up?"

    .row
      .col-xs-12
        %h3 Items
        #items
          = render partial: "image_upload", locals: {s3_direct_post: @s3_direct_post, :f => f}
    .row
      .col-xs-12
        = f.submit "Submit Items", class: "btn squareBtn submitBtn"


  :javascript
    $(".phoneInput").mask("999-999-9999")
    $('.datetimepicker').datetimepicker();
