.consignmentForm
  = simple_form_for @consignment, html: {class: "directUpload"},  data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } do |f|
    .consignmentNumber.hidden
      - if controller.action_name === "edit"
        = f.input :consigner_number, label: "Consigner #", wrapper_html: {class: "col-xs-6"}
        = f.input :status, as: :select, collection: [["New", :new_consignment],["Approved", :approved],["Partially Approved", :partially_approved],["Rejected", :rejected], ["Needs Contract", :needs_contract]], prompt: "Select One", label: "Consigment Status:",wrapper_html: {class: "col-xs-6"}
      - else
        = f.input :consigner_number, label: "Consigner #", wrapper_html: {class: "col-xs-12"}
    = f.input :admin_created, :as => :hidden, value: false, input_html: {class: "adminCreated"}
    = f.input :dashboard_modified, :as => :hidden, value: false, input_html: {class: "dashboardModified"}
    = f.input :first_name, wrapper_html: {class: "col-xs-12 col-sm-6 col-lg-6"}, label: "First Name", placeholder: "Jane", input_html: {class: "checkValid"}
    = f.input :last_name, wrapper_html: {class: "col-xs-12 col-sm-6 col-lg-6"}, label: "Last Name", placeholder: "Smith", input_html: {class: "checkValid"}
    = f.input :email, wrapper_html: {class: "col-xs-12 col-lg-6"}, placeholder: "janesmith@example.com", input_html: {class: "checkValid"}
    = f.input :phone, label: "Mobile Phone", input_html: { class: 'phoneInput checkValid' }, wrapper_html: {class: "col-xs-12 col-sm-6 col-lg-3"}, placeholder: "555-555-5555"
    = f.input :home_phone, input_html: { class: 'phoneInput' }, wrapper_html: {class: "col-xs-12 col-sm-6 col-lg-3"}, placeholder: "555-555-5555"
    = f.input :other_contact, wrapper_html: {class: "col-xs-12 col-sm-6 col-lg-4"}, label: "Other Contact", placeholder: "John"
    = f.input :other_email, wrapper_html: {class: "col-xs-12 col-lg-4"}, placeholder: "johnsmith@example.com"
    = f.input :other_phone, input_html: { class: 'phoneInput' }, wrapper_html: {class: "col-xs-12 col-sm-6 col-lg-4"}, placeholder: "555-555-5555"
    = f.input :date_available, :as => :date_picker, wrapper_html: {class: "col-xs-12 col-sm-6 col-md-6"}, label: "What date will item(s) be available?"
    = f.input :date_available, :as => :hidden, input_html: {class: "hiddenDateInput checkValid"}
    = f.input :need_pickup, as: :radio_buttons, wrapper_html: {class: "col-xs-12 col-md-6"}, label: "Do these items need to be picked up?"
    .col-lg-6.col-xs-12.mailingAddressBox
      .panel.panel-primary
        .panel-body
          %p.pull-left Mailing Address
          = f.input :address_1_mailing, label: "Address 1", input_html: { class: 'mailingInput checkValid' }, wrapper_html: {class: "col-xs-12 col-sm-12 col-lg-12"}, placeholder: "123 Avery Lane"
          = f.input :address_2_mailing, label: "Address 2", input_html: { class: 'mailingInput' }, wrapper_html: {class: "col-xs-12 col-sm-12 col-lg-12"}, placeholder: "Suite 20"
          = f.input :city_mailing, label: "City", input_html: { class: 'mailingInput checkValid' }, wrapper_html: {class: "col-xs-12 col-sm-12 col-lg-12"}, placeholder: "Scottsdale"
          = f.input :state_mailing, label: "State", input_html: { class: 'mailingInput checkValid' }, wrapper_html: {class: "col-xs-12 col-sm-12 col-lg-4"}, placeholder: "AZ"
          = f.input :zip_mailing, label: "ZIP", input_html: { class: 'mailingInput checkValid' }, wrapper_html: {class: "col-xs-12 col-sm-12 col-lg-8"}, placeholder: "85205"

    .col-lg-6.col-xs-12.pickupAddressBox
      .panel.panel-primary
        .panel-body
          %p.pull-left Pickup Location
          .checkbox.pull-right
            %label.pull-right
              %input.sameAsMailing{type: "checkbox"} &nbsp; Same as Mailing Address
          = f.input :address_1_pickup, label: "Address 1", input_html: { class: '' }, wrapper_html: {class: "col-xs-12 col-sm-12 col-lg-12"}, placeholder: "123 Avery Lane"
          = f.input :address_2_pickup, label: "Address 2", input_html: { class: '' }, wrapper_html: {class: "col-xs-12 col-sm-12 col-lg-12"}, placeholder: "Suite 20"
          = f.input :city_pickup, label: "City", input_html: { class: '' }, wrapper_html: {class: "col-xs-12 col-sm-12 col-lg-12"}, placeholder: "Scottsdale"
          = f.input :state_pickup, label: "State", input_html: { class: '' }, wrapper_html: {class: "col-xs-12 col-sm-12 col-lg-4"}, placeholder: "AZ"
          = f.input :zip_pickup, label: "ZIP", input_html: { class: '' }, wrapper_html: {class: "col-xs-12 col-sm-12 col-lg-8"}, placeholder: "85205"
    .row
      .col-xs-12
        %h3 Items
        #items
          .col-xs-12.imageBox
            .row.uploadedImages#uploadedImages
              = f.simple_fields_for :items do |item|
                = render "items/item_fields", f: item, types: @types
              %br/
              - if controller.action_name === "edit"
                .row
                  = link_to "Add Items", new_consignment_item_path(consignment_id: @consignment.id), class: "btn btn-primary pull-right", remote: true
              - else
                = render partial: "image_upload", locals: {s3_direct_post: @s3_direct_post, :f => f}


    .row
      .col-xs-12
        %br/
        - if controller.action_name === "edit"
          = f.submit "Save", class: "btn squareBtn submitBtn validated hidden", data: {"disable-with"=>"Saving"}
          %button{class: "btn squareBtn submitBtn invalid", type: "button", data: {toggle: "tooltip"}, title: "Please Complete All Required Fields"} Save
        - else
          = f.submit "Submit Items", class: "btn squareBtn submitBtn validated hidden", data: {"disable-with"=>"Saving"}
          %button{class: "btn squareBtn submitBtn invalid", type: "button", data: {toggle: "tooltip"}, title: "Please Complete All Required Fields"} Submit Items
        %p.pull-right.lead
          %sup *
          Required
  #items_modal.modal.fade
  -if controller.action_name === "admin"
    :javascript
      $(".adminCreated").val(true);
  -if controller.action_name === "edit"
    :javascript
      $(".consignmentNumber").removeClass("hidden");

  :javascript
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
    // $(".consignmentForm .required").on("keyup keypress", validateFields())
    $(".consignmentForm .submitBtn").hover(function(){validateFields()})
    function validateFields() {
      var invalids = checkInputs();
      if (invalids > 0 ) {
        $(".consignmentForm .submitBtn").addClass("disabled")
        $(".consignmentForm .submitBtn.invalid").removeClass("hidden")
        $(".consignmentForm .submitBtn.validated").addClass("hidden")
      } else {
        $(".consignmentForm .submitBtn").removeClass("disabled")
        $(".consignmentForm .submitBtn.invalid").addClass("hidden")
        $(".consignmentForm .submitBtn.validated").removeClass("hidden")
      }
      console.log(invalids)
    }

    function checkInputs() {
      var invalids = [];
      $(".consignmentForm .checkValid").each(function(i){
        if ($(this).val() === "" ) {
          invalids.push(i);
          $(this).addClass("inputError");
          if ($(this).attr('id')=='consignment_date_available'){
            $('.input-group.date.datetimepicker').addClass("inputError")
          }
        }
        else{
          $(this).removeClass("inputError")
        }
      });

      return invalids.length
    }

    //Disables submit on enter
    $('.consignmentForm form').on('keyup keypress', function(e) {
      var keyCode = e.keyCode || e.which;
      if (keyCode === 13) {
        e.preventDefault();
        return false;
      }
    });

    $(".phoneInput").mask("999-999-9999")
    $('.datetimepicker').datetimepicker({
      minDate: "#{Date.today}",
    }).on("dp.change", function(e){
      $(".hiddenDateInput").val(e.date._d);
    });
    // toggles datetimepicker on input click
    $(".datetimepicker input").click(function(){
      $(".input-group-btn .btn").click();
    })
    //
    // if($("consignment[need_pickup]").val() === true){
    //   console.log(true);
    // }
    // $(".pickupAddressBox").hide();
    // $("input:radio[name='consignment[need_pickup]']").change(function(){
    //   var value = $(this).val();
    //   $(".pickupAddressBox").toggle();
    //   // if(value === true) {
    //   //   $(".pickupAddressBox").toggle();
    //   // }
    // })

    $(".mailingInput").on('change keyup keydown keypress', function(){
      if($(".sameAsMailing").prop( "checked") === true) {
        $(".pickupAddressBox #consignment_address_1_pickup").val($(".mailingAddressBox #consignment_address_1_mailing").val());
        $(".pickupAddressBox #consignment_address_2_pickup").val($(".mailingAddressBox #consignment_address_2_mailing").val());
        $(".pickupAddressBox #consignment_city_pickup").val($(".mailingAddressBox #consignment_city_mailing").val());
        $(".pickupAddressBox #consignment_state_pickup").val($(".mailingAddressBox #consignment_state_mailing").val());
        $(".pickupAddressBox #consignment_zip_pickup").val($(".mailingAddressBox #consignment_zip_mailing").val());
      }
    })

    $(".sameAsMailing").change(function(){
      // var address1 = $(".mailingAddressBox #consignment_address_1_mailing")
      // var address2 = $(".mailingAddressBox #consignment_address_2_mailing")
      // var city = $(".mailingAddressBox #consignment_city_mailing")
      // var state = $(".mailingAddressBox #consignment_state_mailing")
      // var zip = $(".mailingAddressBox #consignment_zip_mailing")

      if($(".sameAsMailing").prop( "checked") === true) {
        $(".pickupAddressBox #consignment_address_1_pickup").val($(".mailingAddressBox #consignment_address_1_mailing").val());
        $(".pickupAddressBox #consignment_address_2_pickup").val($(".mailingAddressBox #consignment_address_2_mailing").val());
        $(".pickupAddressBox #consignment_city_pickup").val($(".mailingAddressBox #consignment_city_mailing").val());
        $(".pickupAddressBox #consignment_state_pickup").val($(".mailingAddressBox #consignment_state_mailing").val());
        $(".pickupAddressBox #consignment_zip_pickup").val($(".mailingAddressBox #consignment_zip_mailing").val());
      } else {
          $(".pickupAddressBox #consignment_address_1_pickup").val("");
          $(".pickupAddressBox #consignment_address_2_pickup").val("");
          $(".pickupAddressBox #consignment_city_pickup").val("");
          $(".pickupAddressBox #consignment_state_pickup").val("");
          $(".pickupAddressBox #consignment_zip_pickup").val("");
      }

    })
